version: "3.9"

services:
  backend:
    build: ./backend
    container_name: learna-backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - mongo

  frontend:
    build: ./frontend/ai-learning-assistant
    container_name: learna-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/ai-learning-assistant:/app
      - /app/node_modules
    stdin_open: true
    tty: true

  mongo:
    image: mongo:6
    container_name: learna-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
