@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&family=Exo:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



@theme{
    --font-dispaly:"Quicksand", sans-serif;
    --breakpoint-3xl: 1920px;
    --color-primary:#FF9324;
}

@layer base {
    html{
        font-family: var(--font-dispaly);
        scrollbar-width: none;
    }
    body {
        background-color: #fcfbfc;
         
    }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}